<html>
<head>
	<title>Drag 'n drop</title>
	<style type="text/css">
	canvas { 
		border: 1px solid black; 
		position: absolute;
		left: 0;
		top: 0;
	  }
	</style>
</head>
<body onload="init()">
	<canvas id="table" width="400" height="400" style="z-index: 0;">
		blah
	</canvas>
	<canvas id="canvas1" width="400" height="400" style="z-index: 1px;">
		bloo
	</canvas>
	<script type='text/javascript' src='static/js/drag.js'></script>
	<img src='static/img/1.png' />
	<img src='static/img/2.png' />
	<img src='static/img/3.png' />
	<img src='static/img/4.png' />
	<img src='static/img/5.png' />
</body>
</html>
